@use '../../../base.scss';

.headline {
    margin-left: auto;
    margin-right: auto;
    margin-top: base.$margintop;
    margin-bottom: base.$margintop;
    max-width: 300px;
    font-weight: bolder;
    font-size: 1.5em;
    color: rgb(126, 126, 126);
}

.spinner-container {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.no-results-container {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.controls-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: base.$ctlwidth-wide;
    padding-bottom: 0px;
}

@media only screen and (min-width: 800px) {
    .controls-container {
        max-width: 2 * base.$ctlwidth-wide;
    }
}

.thegrid {
    align-items: center;
}

.clear-btn {
    border-radius: 10px;
    width: 20px;
}
.outer {
    margin-right: 8px;
}

.search-ctn {
    margin-left: 6px;
}
