.event-ctn {
    border: solid 2px gray;
    border-radius: 0.45rem;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.date-info {
    color: gray;
}

.open-button {
    border: 1px;
    padding: 5px;
    padding-left: 10px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    float: right;
    font-weight: bold;
    font-size: 0.7em;
    color: gray;
}

.link-icon {
    margin-right: 10px;
    font-size: 0.8rem;
}
