<div *ngIf="event" class="event-ctn">
    <div>
        <b>{{event.location.name}}, {{event.datetime | date:'d MMM HH:mm'}}, {{event.type}}</b>
        <span class="open-button" (click)="onClickMessage(event)">
            <span>Karta</span>
            <i class="pi pi-globe map-icon"></i>
        </span>
    </div>
    <div>
        {{event.summary}}
    </div>
    <p>
        <a href={{event.url}} target="_blank" rel="noopener noreferrer"><i
                class="pi pi-external-link link-icon"></i>{{event.url}}</a>
    </p>
</div>