@page "/about"
<h1>About</h1>


<p>
    This Blazor application uses an Api that provides police event data collected from the Open Api of the Swedish Police.
    You can read more about the solution here:
    <a href="https://thingsmatic.com/2021/02/14/police-events-with-maps-and-open-data/" rel="noopener noreferrer" target="_blank">Thingsmatic.com</a>
</p>
