.event-ctn {
    border: solid 2px gray;
    border-radius: 0.45rem;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.date-info {
    color: gray;
}

.map-button-ctn {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 0.7em;
}

.map-button {
    border-radius: 10px;
}

.open-link {
    padding-left: 10px;
    margin-top: 8px;
    float: right;
    font-weight: bold;
    color: gray;
    font-size: 1rem;
}

.link-icon {
    margin-right: 10px;
    font-size: 0.8rem;
}
