@use '../base.scss';

:host ::ng-deep {
    .p-toast.p-component.p-toast-top-center {
        max-width: 300px;
    }
}

.headline {
    margin-left: auto;
    margin-right: auto;
    margin-top: base.$margintop;
    margin-bottom: base.$margintop;
    font-weight: bolder;
    font-size: 1.5em;
    text-align: center;
    color: rgb(126, 126, 126);
}
